* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	color: inherit;
}
a {
	color: var(--color-blue);
	&,
	&:link,
	&:visited {
		text-decoration: none;
		font-weight: bold;
	}
}

html,
body {
	width: 100vw;
	height: 100vh;
}
