@use "sass:math";

@function lcm($a, $b) {
	$a: abs($a);
	$b: abs($b);
	@if $b>$a {
		$temp: $a;
		$a: $b;
		$b: $temp;
	}
	@while $a != 0 and $b != 0 {
		$a: $a%$b;
		@if $a!=0 {
			$b: $b%$a;
		}
	}
	@return max($a, $b);
}

@function z($name) {
	@if index($z-indexes, $name) {
		@return (length($z-indexes) - index($z-indexes, $name)) + 1;
	} @else {
		@warn 'There is no item "#{$name}" in this list; choose one of: #{$z-indexes}';
		@return null;
	}
}
$z-indexes: ("outdated-browser", "modal", "site-header", "page-wrapper", "site-footer");

@function tint($color, $percentage) {
	@return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
	@return mix(black, $color, $percentage);
}

@function getColor($color) {
	@if map-has-key($all-colors, $color) {
		@return map-get($all-colors, $color);
	}
	@return $color;
}
@function getColorCSS($color) {
	@if map-has-key($all-colors, $color) {
		@return var(--#{$color});
	}
	@return $color;
}
