%btn {
	$btnHeight:48;
	$btnHor:16;
	$btnVir:($btnHeight - 16)/2;
	height: #{$btnHeight}px;
	padding: {
		left:#{$btnHor}px;
		right:#{$btnHor}px;
		top:#{$btnVir}px;
		bottom:#{$btnVir}px;
	};
	display: block;

	@each $name, $color in $all-colors {
		&.bg-#{$name}:hover {
			@include hover($color);
		}
	}
}

.btn {
	display: inline-block;
	@extend %btn;
	border: {
		radius: 20px;
	}
}
