$btnHeight: 48;
$btnHor: 16;
$btnVir: ($btnHeight - 16)/2;

%btnBase {
	cursor: pointer;
	height: #{$btnHeight}px;

	display: block;

	@each $name, $color in $all-colors {
		&.bg-#{$name}:hover {
			@include hover($color);
		}
	}
}

%btn {
	@extend %btnBase;
	padding: {
		left: #{$btnHor}px;
		right: #{$btnHor}px;
		top: #{$btnVir}px;
		bottom: #{$btnVir}px;
	}
}
%btnBorder {
	border: {
		radius: 1em;
	}
	border-style: solid;
	border-color: rgba($color: #888888, $alpha: 0.3);
}

.btn {
	display: inline-block;
	@extend %btn;
	@extend %btnBorder;
}

.toggler {
	display: inline-block;
	@extend %btnBase;
	@extend %btnBorder;
}
