%flex {
	display: flex;
}

[class^="f-"] {
	@extend %flex;
}

@each $dir in row row-reverse column column-reverse {
	.f-#{$dir} {
		flex-direction: $dir;
	}
}
@each $wrap in nowrap wrap wrap-reverse {
	.f-#{$wrap} {
		flex-wrap: $wrap;
	}
}

.container {
	@include centerBlock;
	max-width: 100%;
	width: $contentWidth;
}

.row {
	@extend %flex;

	@include mq(mobile) {
		flex-flow: column;
	}
}

[class^="col"] {
	width: 100%;
}
@include mq {
	@for $rowCols from $columnCount to 1 {
		@for $colSpan from $rowCols through 1 {
			$lcm: lcm($rowCols, $colSpan);
			.col-#{$colSpan}-#{$rowCols} {
				@if $colSpan != $rowCols {
					@if $lcm!=1 {
						@extend .col-#{$colSpan/$lcm}-#{$rowCols/$lcm};
					} @else {
						width: percentage($colSpan/$rowCols);
					}
				}
			}
		}
		.col-#{$rowCols} {
			@extend .col-#{$rowCols}-#{$columnCount};
		}
	}
}
