%flexbase {
	flex-wrap: wrap;
}

%flex {
	display: flex;
	@extend %flexbase;
}

%flex-inline {
	display: inline-flex;
	@extend %flexbase;
}

[class^="f-"] {
	@extend %flex;
}

[class^="fi-"] {
	@extend %flex-inline;
}
.f,
.fi {
	@each $dir in row row-reverse column column-reverse {
		&-#{$dir} {
			flex-direction: $dir;
		}
	}
	@each $wrap in nowrap wrap wrap-reverse {
		&-#{$wrap} {
			flex-wrap: $wrap;
		}
	}
}

.row {
	@extend %flex;

	@include mq(mobile) {
		flex-flow: column;
	}
}

[class^="col"] {
	width: 100%;
}
@include mq {
	@for $rowCols from $columnCount to 1 {
		@for $colSpan from $rowCols through 1 {
			$lcm: lcm($rowCols, $colSpan);
			.col-#{$colSpan}-#{$rowCols} {
				@if $colSpan != $rowCols {
					@if $lcm!=1 {
						@extend .col-#{$colSpan/$lcm}-#{$rowCols/$lcm};
					} @else {
						width: percentage($colSpan/$rowCols);
					}
				}
			}
		}
		.col-#{$rowCols} {
			@extend .col-#{$rowCols}-#{$columnCount};
		}
	}
}
