@use "sass:math";
@function lcm($a, $b) {
	$a: abs($a);
	$b: abs($b);
	@if $b>$a {
		$temp: $a;
		$a: $b;
		$b: $temp;
	}
	@while $a != 0 and $b != 0 {
		$a: $a%$b;
		@if $a!=0 {
			$b: $b%$a;
		}
	}
	@return max($a, $b);
}
.grid {
	$columnCount: 12;
	.row {
		display: flex;
		.col {
			@for $rowCols from $columnCount through 1 {
				@for $colSpan from $rowCols through 1 {
					$lcm: lcm($rowCols, $colSpan);
					&-#{$colSpan}-#{$rowCols} {
						@if $lcm!=1 {
							@extend .col-#{$colSpan/$lcm}-#{$rowCols/$lcm};
						} @else {
							@extend .col;
							width: percentage($colSpan/$rowCols);
						}
					}
				}
				&-#{$rowCols} {
					@extend .col-#{$rowCols}-12;
				}
			}
		}
		@include device(mobile) {
			display: block;

			.col {
				width: 100%;
			}
		}
	}
}
