header {
	$headerHeight: 64px;

	height: $headerHeight;
	position: relative;
	flex-basis: $headerHeight;
	a {
		color: var(--color-white);
	}
	img {
		max-height: $headerHeight * 0.75;
		width: auto;
	}

	@include forEachColor() using ($name, $value) {
		&.bg-#{$name} nav {
			background-color: var(--color-#{$name});
			//background-color: var(--color-yellow);
		}
	}
	.content {
		@extend .row;
		position: relative;
		z-index: 0;
		@include device(tablet-portrait-up) {
			max-width: 97%;
			& > * {
				flex: 1;
			}
		}
		@include device(mobile) {
			z-index: 5;
			position: fixed;
		}
	}
	.main {
		width: 97%;
		margin-left: auto;
		margin-right: auto;
		height: $headerHeight;
		display: flex;
		align-items: center;
		* {
			margin: 0.125em;
		}

		.btn-mobile {
			@import "./burger.scss";
			display: none;
			height: 64px;
			width: 64px;
			justify-content: center;
			flex-flow: column;
			padding: 16px;
		}

		@include device(mobile) {
			// flex-direction: row-reverse;
			// justify-content: flex-end;
			img {
				// display: none;
			}
			h1 {
				flex: 1;
			}
			.btn-mobile {
				display: flex;
			}
		}
	}

	.content,
	nav,
	nav * {
		height: 100%;
	}
	nav {
		flex: 1;
	}
}
nav {
	@extend .row;
	text-align: center;
	align-items: stretch;
	font-size: larger;
	& > * {
		@extend .col;
		display: flex;
		flex-flow: column;
		justify-content: center;
	}
}
