@import "./burger.scss";

nav,
.nav {
	border: {
		radius: 1em;
	}

	.b {
		display: block;
	}
	display: inline-block;
	text-align: center;
	ul {
		@extend %flex-inline;
		align-items: stretch;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	li {
		border: inherit;
		a {
			@extend %btn;
			// display: block;
			line-height: 100%;
			border-radius: 1em;
		}
		// &:first-child a {
		// 	border: {
		// 		top-left-radius: 1em;
		// 		top-right-radius: 0;
		// 		bottom-left-radius: 1em;
		// 		bottom-right-radius: 0;
		// 	}
		// }

		// &:last-child a {
		// 	border: {
		// 		top-left-radius: 0;
		// 		top-right-radius: 1em;
		// 		bottom-left-radius: 0;
		// 		bottom-right-radius: 1em;
		// 	}
		// }
	}

	&.nav-vertical {
		ul {
			flex-flow: column;
		}

		li {
			&:first-child a {
				border: {
					top-right-radius: 1em;
					bottom-left-radius: 0;
				}
			}

			&:last-child a {
				border: {
					top-right-radius: 0;
					bottom-left-radius: 1em;
				}
			}
		}
	}

	@each $name, $color in $all-colors {
		&.bg-#{$name} {
			li.active a,
			a.active,
			a:active,
			a:hover {
				@include hover($color);
			}
		}
	}
}

header {
	position: sticky;
	top: 0;
	z-index: z("site-header");
	flex-basis: $headerHeight;
	min-height: $headerHeight;

	.btn,
	.toggler {
		background-color: rgba($color: #ffffff, $alpha: 0.1);
	}

	@each $name, $value in $all-colors {
		&.bg-#{$name} {
			nav {
				@extend .bg-#{$name};
			}
			.btn,
			.toggler {
				&:hover {
					@include hover($value);
				}
			}
		}
	}

	.container {
		@extend .row;
		flex-flow: column;
		position: relative;
		// //`z-index: 5;
		@include mq {
			align-items: center;
			padding: $headerPadding;
			height: $headerHeight;
			flex-flow: row;
			max-width: 97%;
			justify-content: space-between;
		}
	}
	.site-head {
		display: inline-flex;
		height: $headerHeight;
		padding: $headerPadding;
		align-items: center;
		position: relative;
		.site-title {
			height: auto;
			margin-right: auto;
			display: inline-flex;
			align-items: center;
			//padding-right: 10px;
			img {
				margin-right: 0.25em;
				&.toggler {
					padding: 8px;
					width: $headerHeight;
					height: $headerHeight;
				}
			}
		}
		justify-content: space-between;

		@include mq {
			padding: 0;
		}

		.btn {
			@extend %burgerContainer;
			width: $headerHeight;
			height: $headerHeight;
			display: flex;
			justify-content: center;
			flex-flow: column;
		}
	}
	nav,
	.nav {
		font-size: larger;
		@include fixed($top: $headerHeight, $bottom: 0);

		width: 100%;
		ul,
		li,
		a {
			height: 100%;
			width: 100%;
		}
		ul {
			flex-flow: column;
			align-items: stretch;
		}
		a {
			@include center;
			display: inline-flex;
		}
		@include mq {
			bottom: auto;
			&.nav-header {
				border-radius: 0;
				@include position;
			}

			&.nav-dropdown {
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				height: auto;
				@include fixed;
				ul {
					flex-flow: column;
				}
				//@include fixed($top: $headerHeight, $left: 0);
			}

			//height: $headerHeight;
			font-size: unset;
			@include relative;
			ul {
				flex-flow: row;
				justify-content: flex-start;
			}
			width: auto;
			margin-top: 0;
		}
	}
	@include mq {
		.header-right,
		.nav-header {
			margin-left: auto;
		}
	}

	@each $name, $color in $all-colors {
		&.bg-#{$name} nav {
			@extend .bg-#{$name};
		}
	}

	h1 {
		margin: 0;
	}
}
