@import "./burger.scss";

nav,
.nav {
	.b {
		display: block;
	}
	display: inline-block;
	text-align: center;
	ul {
		@extend %flex-inline;
		align-items: stretch;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		a {
			@extend %btn;
			// display: block;
			line-height: 100%;
		}
	}
	&.nav-vertical {
		ul {
			flex-flow: column;
		}
	}

	@each $name, $color in $all-colors {
		&.bg-#{$name} {
			li.active a,
			a.active,
			a:active,
			a:hover {
				@include hover($color);
			}
		}
	}
}

header {
	width: 100vw;
	z-index: z("site-header");
	position: relative;
	flex-basis: $headerHeight;
	min-height: $headerHeight;

	@each $name, $value in $all-colors {
		&.bg-#{$name} {
			nav {
				@extend .bg-#{$name};
			}
		}
	}

	.container {
		@extend .row;
		flex-flow: column;
		// //`z-index: 5;
		// position: fixed;
		@include mq {
			align-items: center;
			padding: $headerPadding;
			height: $headerHeight;
			flex-flow: row;
			max-width: 97%;
			position: relative;
			justify-content: space-between;
		}
	}
	.site-head {
		display: inline-flex;
		height: $headerHeight;
		padding: $headerPadding;
		align-items: center;
		.site-title {
			height: auto;
			margin-right: auto;
			display: inline-flex;
			align-items: center;
			//padding-right: 10px;
			img {
				margin-right: 0.25em;
			}
		}
		justify-content: space-between;

		@include mq {
			padding: 0;
		}

		.btn {
			@extend %burgerContainer;
			width: $headerHeight;
			height: $headerHeight;
			display: flex;
			justify-content: center;
			flex-flow: column;
		}
	}
	nav,
	.nav {
		font-size: larger;
		@include fixed($top: $headerHeight);

		&,
		ul,
		li,
		a {
			height: 100%;
			width: 100%;
		}
		ul {
			flex-flow: column;
			align-items: stretch;
		}
		a {
			@include center;
			display: inline-flex;
		}
		@include mq {
			&.nav-header {
				@include position;
			}

			height: $headerHeight;
			font-size: unset;
			@include relative;
			ul {
				flex-flow: row;
				justify-content: flex-start;
			}
			width: auto;
			margin-top: 0;
		}
	}
	@include mq {
		.header-right,
		nav,
		.nav {
			margin-left: auto;
		}
	}

	@each $name, $color in $all-colors {
		&.bg-#{$name} nav {
			@extend .bg-#{$name};
		}
	}

	h1 {
		margin: 0;
	}
}
