body {
	@extend %flex;
	flex-flow: column;
	align-items: stretch;
}

.container {
	@include centerBlock;
	max-width: 100%;
	width: $contentWidth;
}
main {
	flex-grow: 1;
	.container {
		padding: 8px;
	}
}

header,
main,
footer {
	flex-shrink: 1;
}

footer,
[class^="footer"] {
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
	.container {
		padding: 0.7em;
	}
	&.footer {
		&-lg .container {
			padding: 1.5em;
		}
		&-sm .container {
			padding: 0.1em;
		}
	}
}
